@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
*{
  font-family: 'Baloo Da 2', cursive;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* SFONDO */
.sfondo{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.top-sfondo{
  width: 100%;
  height: 100px;
  background-color: #2a9d8f;
}
.bot-sfondo{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #fefae0;
}

/* MAIN */

.main{
  display: flex;
  position: absolute;
  top: 50px;
  left: 150px;
  width: 80%;
  box-shadow: 0px 0px 10px grey;
}
.contatti{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 500px;
  height: 90vh;
  background-color: #fff;
}
#contatto{
  cursor: pointer;
}
.contatto.active{
  background-color: #b5838d;
}
.chat{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 90vh;
  background-image: url(img/sfondo-whatsapp.jpg);
}

/* LISTA CONTATTI */

.account{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #e5e5e5;
}
.account img{
  width: 45px;
  height: 45px;
  margin-left: 20px;
  border-radius: 50%;
}
i{
  cursor: pointer;
}
.icone i{
  color: #6c757d;
  font-size: 1.2em;
  padding-right: 40px;
}

.ricerca{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #dee2e6;
}
#ricerca{
  width: 90%;
  height: 40px;
  border: 0px solid;
  border-radius: 50px;
  font-size: 12px;
  background-color: #fff;
  background-image: url(img/search.png);
  background-size: 20px;
  background-position: 15px 8px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

/* LISTA */

.lista{
  width: 100%;
  height: 100%;

}
.contatto{
  display: flex;
  align-items: center;

  height: 70px;
  padding-top: 10px;

  border-bottom: 1px solid grey;
}
.img-utente img{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
}
.info-contatto span{
  display: block;
  font-size: 1.3em;
  margin-left: 15px;
}
.info-contatto small{

  margin-left: 15px;
}



/* CHAT */
/* utente */
#utente{
  display: none;
}
#utente.active{
  display:block;
}

.utente{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #e5e5e5;
}
.utente img{
  width: 45px;
  height: 45px;
  margin-left: 20px;
  border-radius: 50%;
}
.id-utente{
  display: flex;
  align-items: center;
}

.id-utente span{
  margin-left: 20px;
  font-size: 20px;
}
/* messaggi */
#messaggi{
  display: none;
}
#messaggi.active{
  display: block;
}
.messaggi{
  width: 100%;
  height: calc(100vh - 214px);
  top: 60px;
  position: absolute;
}
.bianchi{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.verdi{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#bianco{
  position: relative;
  padding: 5px 40px 5px 15px;
  border-radius: 20px;
  margin: 12px;
  background-color: #fff;
  font-size: 20px;
}
#verde{
  position: relative;
  padding: 5px 40px 5px 15px;
  border-radius: 20px;
  margin: 12px;
  background-color: #80b918;
  font-size: 20px;
}
.orario{
  font-size: 12px;
  position: absolute;
  bottom: 3px;
  right: 5px;
}
/* menu a tendina */

/* .fas .fa-chevron-down{
  display: none;
  right: 10px;
  bottom: 8px;
} */


.menu{
  display: none;
  padding: 15px 5px;
  position: absolute;
  top: 50px;
  line-height: 30px;

  background: white;
  border-radius: 15px;

  width: 140px;
  font-size: 15px;
}

#bianco:hover .menu,
#verde:hover .menu{
  display:block;
}

/* invio */
.invio{
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;
  background-color: #e5e5e5;
}
.invio i {
  color: #6c757d;
  font-size: 1.5em;
  padding: 0 40px;
}
#messaggio-input{
  width: 100%;
  height: 40px;
  border: 0px solid;
  border-radius: 50px;
  font-size: 15px;
  padding: 12px 20px 12px 15px;
}
#invio{
  padding: 10px;
  margin: 0 20px;
  border-radius: 50%;
  background-color: #2a9d8f;
}
